*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
  --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#f0c68b,#EFDAA4);
     --gradheaderpequeno:linear-gradient(to right,#000000,#000,#3d0505,#620606);
    --bege: #f6e0d2;
    --preto: #000000;
    --vermelho: #520909;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
    --vermelhosemiescuro:#520909;
    --texturadourada:linear-gradient(to right,#e4b23a,#f8d175,#e4b23a);
    --amareloheader:#EFDAA4;
    --gradhamburguer:linear-gradient(to right,#2e0404,#4b0606,#610606);
}
body{
  background-color: #000;
}
header{
 background: var(--gradvermelho);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 97px;   
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 2;/*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
}
.logo{
 height: 90px;
}

.menu-header{
    list-style: none;
    display: flex;
    gap:20px;
    margin-right: 2px;
}

#busca{
     height: 25px;
    margin-top: 20px;
    border-radius: 15px;
    border: #f6e0d2;
    width: 200px;
    padding: 5px;
    font-weight: bold;
}
.uniao-logo-busca{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
#letreiro{
  display:none;
}
.dropdown-btn {
  cursor: pointer;
    background: none;
  border: none;
  outline: none;
  text-decoration: none;
    font-size: 20px;
      font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
}

/* menu escondido */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background:#000;
  border-radius: 8px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  min-width: 140px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  z-index: 999;
}

/* links */
.dropdown-menu a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-family: 'odor mean chey';
}

.dropdown-menu a:hover {
  background: #222;
}

/* container */
.dropdown {
  position: relative;
}
.dropdown-menu.ativo {
  display: flex;
}
.item-menu {
    text-decoration: none;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    white-space: nowrap;
}
#login {
    font-size: 18px;
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
      background-color:#000; /* fundo da caixa */
  color: #EFDAA4;                         /* cor do texto */
  padding: 5px 10px;                   /* espaço interno */
  border-radius: 20px;                   /* cantos arredondados */
  width: fit-content; 
}
.hamburguer {
   display: none;
   cursor: pointer;
   position: relative;
   z-index: 999;
   flex-direction: column;
   gap: 6px;
}

/* Barras */
.barra {
   width: 30px;
   height: 3px;
   background-color: var(--bege);
   border-radius: 10px;
   transition: 0.4s;
}
main{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
     padding-top: 20px;
}
.titulo{
    color:white;
     font-size: 1.4rem;
    font-family: 'odor mean chey';
    font-weight: 100;
    margin-left: 30px;
    
}
.uniao-titulo-carreira{
  position: relative;
  width: 100%;
}
.carreira{
    display: flex;
    gap:40px;
     position: relative;
}
.lista-musicas{
  display: flex;
  gap: 60px;
   overflow-x: hidden;  
   padding-left: 20px;
  padding-right: 20px;
  padding-top: 29px;
}
.seta{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.8);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 14px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.seta.oculta{
  opacity: 0;
  pointer-events: none;
}   

.esquerda{
  left: 10px;
}

.direita{
  right: 10px;
}

.obra{
     display: flex;
  flex-direction: column;
   align-items: center;
   gap:9px;
}



.adrenalina {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.adrenalina:hover{
  box-shadow: 0 0 40px rgba(196, 41, 2, 0.6);
  transform: scale(1.03);
}
.comedia {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.comedia:hover{
  box-shadow: 0 0 40px rgba(177, 145, 1, 0.6);
  transform: scale(1.03);
}

.heroicos {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.heroicos:hover{
  box-shadow: 0 0 40px rgba(20, 4, 143, 0.7);
  transform: scale(1.03);
}

.terror {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.terror:hover{
  box-shadow: 0 0 50px rgba(105, 0, 0, 1);
  transform: scale(1.03);
}
.animados {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.animados:hover{
  box-shadow: 0 0 50px rgba(87, 2, 139, 0.7);
  transform: scale(1.03);
}
.barra{
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.barbie:hover{
  box-shadow: 0 0 30px rgba(255, 0, 157, 0.8);
  transform: scale(1.03);
}
.img{
  width: 140px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.nome-obra{
    color:#fff;
    font-family: 'open sans';
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

 a{
   text-decoration: none;
}

footer{
  margin-top: 30px;
    background: var(--vermelho);
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
#img-footer{
  gap:17px;
  display: flex;
}
.icone{
    width: 40px;
    margin-top: 12px;
}




@media (max-width: 768px) {
  
  
  .logo{
   display:none;
}
#busca{
    max-height: 20px;
    margin-top: 20px;
    margin-right: 160px;
}
 header{
   height: 80px;
    background: var(--gradheaderpequeno);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
    #busca{
    order: 1;
    margin: 0;
  }
  #letreiro{
    order: 2;
    height: 50px;
    width: auto;
    display: flex;
  }
   .hamburguer{
    display: flex;
    margin: 0; 
  }
  nav{
    order: 4;
  }  
  .scrr{
order: 3;
display: flex;
  }
  
  /* ESCONDE MENU DESKTOP */
  .menu-header{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
      z-index: 9;
  }
  .item-menu{
    color: white;
  }
  #login{
    color: white;

  }
  .seta{
    z-index: 8;
  }
   .hamburguer{
    display: flex;
    margin-right: auto 0;
    
  }

  .menu-header.active{
    display: flex;
  }

  /* animação */
  .hamburguer.active .barra:first-child {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburguer.active .barra:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .barra:last-child {
    transform: translateY(-9px) rotate(-45deg);
  }
  .dropdown-menu {
    position: static; /* fica dentro do menu */
    display: none;
  }

  .dropdown-menu.ativo {
    display: flex; /* abre ao clicar */
  }
}


/* acabamento pra ficar tudo certinho */
@media (max-width: 600px) {

 header{
   padding: 0 10px;
  }
  #busca{
    height: 25px;
    width: 117px;
  }
  #letreiro{
    height: 43px;
    width: auto;
  }
}

/* medida para celular pequeno */
@media (max-width: 480px) {

  header{
   padding-top: 20px;
  }
  #busca{
    height: 23px;
    width: 120px;
   
  }
  #letreiro{
    height: 43px;
    width: auto;
  }
   .hamburguer{
    z-index: 7;
   }
.img{
   width:110.8331px;    
  height: 158.333px;
}
.lista-musicas{
  gap:42px;
}
.titulo{
     font-size: 1.10833333rem;
     font-weight: 100;
    margin-left: 15px;
}
.uniao-titulo-carreira{
  gap:20px;
  display: flex;
  flex-direction: column;
}
  }

