*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
    --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#EFDAA4);
    --bege: #f6e0d2;
    --preto: #0000;
    --vermelho: #620606;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
    --grad2: linear-gradient(rgba(42, 0, 26, 0.393));

}
body{
   
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url(../assets/img/fundoalbuns.jpg);

     background-repeat: no-repeat;   /* não repetir */
  background-size: cover;         /* ocupar 100% da tela */
  background-position: center;   
    
}

header{
    background: var(--gradvermelho);

    display: flex;
    height: 100px;
    width: 100%;
     text-align: center;
     z-index: 2;
     gap:15px;
}
.logo{
     height: 90px;
    margin-left: 7px;
    margin-top: 4px;
}

.menu-header{
  
   list-style: none;
    margin-left: 1090px;
    display: flex;
    margin-top: 35px;
    gap:20px;
    /* margin-right: 5px; */
    
}
.item-menu {
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    
    white-space: nowrap;
}


 #login{
     font-size: 20px;
   
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
 }
 .conteudo{
    display: flex;
   
    justify-content: center;
     
  align-items: center;
 }
form{
    margin-top: 70px;
     width: 500px;
    background-color: var(--vermelho);
    text-align: center;
    height: auto; /* deixa a altura crescer com os campos */
    color: #fff;
    display: flex;           /* importante! */
    flex-direction: column;  /* coloca tudo em coluna */
    align-items: center;     /* centraliza horizontalmente os inputs e labels */
    gap: 15px;               /* espaço entre cada elemento */
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 5%;
     
}
form h2{
    font-size: 2.5rem;
    font-family: 'bebas neue';
}
.lbl-rotulos{
    font-size: 1.2rem;
    font-family: 'open sans';
}
#email{
    width: 350px;
    height: 50px;
}

#senha{
    width: 350px;
    height: 50px;
}
   
footer{
    background: var(--vermelho);
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
    margin-bottom: 0px;
}
.footer-container{
  margin-top: 10px;

}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
.icone{
    width: 75px;
    margin-top: 12px;
}


 @keyframes efeito1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
/* .item-menu::before,
.item-menu::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, 
        rgba(255, 100, 150, 0), 
        rgba(255, 100, 150, 1), 
        rgba(255, 100, 150, 0));

  box-shadow: 0 0 10px rgba(255, 100, 150, 0.8),
              0 0 20px rgba(255, 100, 150, 0.6),
              0 0 40px rgba(255, 100, 150, 0.5);

  opacity: 0;
  transition: .5s;
}

.item-menu::before {
  left: 0;
  top: 0;
}

.item-menu::after {
  right: 0;
  bottom: 0;
}

.item-menu:hover::before,
.item-menu:hover::after {
  width: 100%;
  opacity: 1;
} */
/* .estrela-fundo{
    position: relative;
    margin-top: -153px;
    margin-left: -150px;
    margin-bottom: -82px;
}
.estrela-fundo img{
    width: 1000px;
} */
 /* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* 0.4 = leve escurecido 
} */