*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
    --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#EFDAA4);
    --bege: #f6e0d2;
    --preto: #0000;
    --vermelho: #620606;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
    --grad2: linear-gradient(rgba(42, 0, 26, 0.393));

}
body{
   
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url(../assets/img/fundoalbuns.jpg);

     background-repeat: no-repeat;   /* não repetir */
  background-size: cover;         /* ocupar 100% da tela */
  background-position: center;   
    
}

header{
    background: var(--gradvermelho);
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    z-index: 2;
    gap:15px;
}
.logo{
     max-height: 90px;
    margin-left: 7px;
    margin-top: 4px;
}

.menu-header{
  
    list-style: none;
    margin-left: 1090px;
    display: flex;
    margin-top: 35px;
    gap:20px;
    /* margin-right: 5px; */
    
}
.item-menu {
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    
    white-space: nowrap;
}


 #login{
     font-size: 20px;
   
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
 }
 .conteudo{
    display: flex;
    justify-content: center;
  align-items: center;
 }
form{
    margin-top: 70px;
     width: 500px;
    background-color: var(--vermelho);
    text-align: center;
    height: auto; /* deixa a altura crescer com os campos */
    color: #fff;
    display: flex;           /* importante! */
    flex-direction: column;  /* coloca tudo em coluna */
    align-items: center;     /* centraliza horizontalmente os inputs e labels */
    gap: 15px;               /* espaço entre cada elemento */
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 5%;
     
}
form h2{
    font-size: 2.5rem;
    font-family: 'bebas neue';
}
.lbl-rotulos{
    font-size: 1.2rem;
    font-family: 'open sans';
}
.txtinput{
    width: 400px;
    height: 50px;
    border-radius: 30px;
}
   
footer{
    background: var(--vermelho);
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
    margin-bottom: 0px;
}
 .footer-container{
  margin-top: 10px;

}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
.icone{
    width: 75px;
    margin-top: 12px;
}


 @keyframes efeito1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
header{
   background: var(--gradvermelho);
  display: flex;
 height: 5%;
  width: 100%;
  }
  .logo{
    height: 50px;
    margin-left: 7px;
    margin-top: 4px;
}
#busca{
    max-height: 25px;
    margin-top: 20px;
}
    form{
        width: 80%;
        margin-bottom: 300px;
    }
    form h2{
    font-size: 2rem;
    }
    .lbl-rotulos{
    font-size: 1rem;
}
.txtinput{
    width: 300px;
    height: 40px;
    border-radius: 30px;
}
footer{
    display: flex;
    height: 10%;
    width: 100%;
    text-align: center;
    justify-content: center;
   
}
.footer-container{
    margin-bottom: 20px;
}
body {
  height: 100%;
  margin: 0;
}
main{
  flex:1;
}
}

