*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
   --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#f0c68b,#EFDAA4);
   --gradheaderpequeno:linear-gradient(to right,#000000,#000,#3d0505,#620606);
    --bege: #f6e0d2;
    --preto: #0000;
     --vermelho: #520909;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
    --grad2: linear-gradient(rgba(42, 0, 26, 0.393));
      --cor:linear-gradient(to right,rgb(50, 0, 0));
    /* linear-gradient(to right,  #000,#000, #620606 ); */

}
body{
   
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url(../assets/img/fundoalbuns.jpg);

     background-repeat: no-repeat;   /* não repetir */
  background-size: cover;         /* ocupar 100% da tela */
  background-position: center;   
    
}

header{
 background: var(--gradvermelho);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 97px;   
  width: 100%;
  padding: 0 10px;
  z-index: 2;/*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
}
.logo{
 height: 90px;
}
#pngbrabo{
  display: none;
}
#letreiro{
  display:none;
}

.menu-header{
     list-style: none;
    display: flex;
    gap:20px;
    margin-right: 2px;
}
.dropdown-btn {
  cursor: pointer;
    background: none;
  border: none;
  outline: none;
}

/* menu escondido */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background:#000;
  border-radius: 8px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  min-width: 140px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* links */
.dropdown-menu a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-family: 'odor mean chey';
}

.dropdown-menu a:hover {
  background: #222;
}

/* container */
.dropdown {
  position: relative;
}
.dropdown-menu.ativo {
  display: flex;
}
.item-menu {
    text-decoration: none;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    white-space: nowrap;
}

 #login {
    font-size: 18px;
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
      background-color:#000; /* fundo da caixa */
  color: #EFDAA4;                         /* cor do texto */
  padding: 5px 10px;                   /* espaço interno */
  border-radius: 20px;                   /* cantos arredondados */
  width: fit-content; 
}
 .hamburguer {
   display: none;
   cursor: pointer;
   position: relative;
   z-index: 999;
   flex-direction: column;
   gap: 6px;
}

/* Barras */
.barra {
   width: 30px;
   height: 3px;
   background-color: var(--bege);
   border-radius: 10px;
   transition: 0.4s;
}

 .conteudo{
    display: flex;
    justify-content: center;
  align-items: center;
 }
form{
    margin-top: 70px;
     width: 500px;
    background-color: var(--vermelho);
    text-align: center;
    height: auto; /* deixa a altura crescer com os campos */
    color: #fff;
    display: flex;           /* importante! */
    flex-direction: column;  /* coloca tudo em coluna */
    align-items: center;     /* centraliza horizontalmente os inputs e labels */
    gap: 15px;               /* espaço entre cada elemento */
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 5%;
     
}
form h2{
    font-size: 2.5rem;
    font-family: 'bebas neue';
}
.lbl-rotulos{
  font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'open sans';
}
.txtinput{
    font-family: 'open sans';
    width: 400px;
    height: 50px;
    border-radius: 30px;
     padding-left:4px ;
}
#sem-conta{
  font-family: 'open sans';
} 
#sem-conta span{
  text-decoration: underline;
  cursor: pointer;
}
#ou{
  margin-top: -10px;
  font-family: 'open sans',serif,Georgia, 'Times New Roman', Times, serif;
}  

footer{
  margin-top: 30px;
    background: var(--vermelho);
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.btn-acessar{
  font-family: 'open sans';
  background: var(--cor);
  font-weight: 800;
  color: var(--cor);
  height: 40px;
  width: 170px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
  border: 2px solid var(--cor);
 /* tbm nn sei oq fazer aki */
 

}
.btn-acessar:hover{
  transform: scale(1.02);
  
}
.btn-conta{
  cursor: pointer;
  font-family: 'open sans';
  color: #fff;
  height: 30px;
  width: 170px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;

}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
   margin-right: 3px;
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
#img-footer{
  gap:17px;
  display: flex;
}
.icone{
    width: 40px;
    margin-top: 12px;
}


 @keyframes efeito1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* RESPONSIVIDADE */
@media (max-width: 768px) /*tamanho tablet*/ {
 .logo{
    display:none;
}
 #pngbrabo{
  display: flex;
  width: 65px;
  height: auto;
 }
#letreiro{
  display:flex;
  height: 50px;
  width: auto;
}
#busca{
    max-height: 25px;
    margin-top: 20px;
}
 header{
    height: 80px;
    background: var(--gradheaderpequeno);
       justify-content: space-between;
  }

  /* MOSTRA O HAMBÚRGUER */
 

  /* ESCONDE MENU DESKTOP */
  .menu-header{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
      z-index: 8;
  }
  .item-menu{
    color: white;
  }
  #login{
    color: white;

  }
  .barra {
   width: 40px;
   height: 4px;
}
   .hamburguer{
    display: flex;
    margin-right: auto 0;  
  }
  .menu-header.active{
    display: flex;
  }
  /* animação */
  .hamburguer.active .barra:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .barra:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .barra:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  .dropdown-menu {
    position: static; 
    display: none;
  }

  .dropdown-menu.ativo {
    display: flex;
  }
form{
width: 60%;
 margin-top: 150px;
 margin-bottom: 0;
}
form h2{
font-size: 2rem;
}
.lbl-rotulos{
font-size: 1rem;
}
.txtinput{
    width: 300px;
    height: 40px;
    border-radius: 30px;
}
footer{
    display: flex;
    height: 10%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
   
}
.footer-container{
    margin-bottom: 20px;
}
body {
  height: 100%;
  margin: 0;
}
main{
  flex:1;
  height: 100%;
}
}
/* essa ficou quebrada, sorry */
@media (max-width: 600px) {
  form{
width: 80%;
}
}
@media (max-width: 400px) {
  header{
   padding-top: 20px;
  }
  body{
    background-size:1495px;
  }
  #letreiro{
   height: 38px;
    width: auto;
  }
   .barra {
   width: 25px;
   height: 2px;
}
  form{
width: 80%;
margin-top: 90px;
}
form h2{
font-size: 1.7rem;
}
.txtinput{
    width: 250px;
    height: 30px;
    font-size: 0.7rem;
   
}
footer{ 
    height: 55px;
    width: 100%;
    margin-top: 150px;
  }
  #direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.direito-txt{
  font-size: 0.7rem;
}
#copy{
  font-family: 'open sans';
  margin-right: 3px;
  margin-top: auto;
}
#tracks-footer{
  font-family: 'Etna';
  margin-top: auto;
}
#cine-footer{
  font-family: 'norwester';
  margin-top: auto;
}
#img-footer{
  gap:7px;
  display: flex;
  justify-content: center;
}
.icone{
    width: 20px;
    margin-top: 5px;
}

}
@media (max-width: 370px) {
  body{
    background-size:cover;
  }

}

