*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
     font-family:'Open Sans' ;
}
:root{
    --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#f0c68b,#EFDAA4);
     --gradescuro:linear-gradient(to right, #443824, #220202, #000, #220202, #443824);
     --gradescuropequeno:linear-gradient(to right, #332917, #190202, #000, #190202, #332917);
      --gradheaderpequeno:linear-gradient(to right,#000000,#000,#3d0505,#620606);
      --gradbarbie:linear-gradient(to right, #442432, #220211, #000, #220211, #442432);
       --gradescuropequenobarbie:linear-gradient(to right,  #220211, #1b010d, #000,  #1b010d,  #220211);
    --bege: #f6e0d2;
    --preto: #0000;
    --vermelho: #520909;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
}
body{
  background-color: black;
  touch-action: pan-y;  /*para não ver o fim do carrossel */
  overflow-x: hidden;  /*para não ver o fim do carrossel */
  overflow-y: auto;   /*para não ver o fim do carrossel */
  flex-direction: column;   /*profooter colar na parte inferior da tela, odio ele fica subindo*/
  display: flex;    /*profooter colar na parte inferior da tela, odio ele fica subindo*/
 
}

header{
 background: var(--gradvermelho);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 97px;   
  width: 100%;
  padding: 0 10px;
  z-index: 2;/*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
}
.logo{
 height: 90px;
}
#letreiro{
  display: none;
}
#pngbrabo{
  display: none;
}
.menu-header{
    list-style: none;
    /* margin-left: 1090px; */
    display: flex;
    gap:20px;
    /* margin-right: 5px; */
}
#busca{
    height: 25px;
    margin-top: 35px;
    border-radius: 15px;
    border: #f6e0d2;
    width: 200px;
    padding: 5px;
    font-weight: bold;
}
.dropdown-btn {
  cursor: pointer;
    background: none;
  border: none;
  outline: none;
  text-decoration: none;
    font-size: 20px;
      font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
}

/* menu escondido */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background:#000;
  border-radius: 8px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  min-width: 140px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* links */
.dropdown-menu a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-family: 'odor mean chey';
}

.dropdown-menu a:hover {
  background: #222;
}

/* container */
.dropdown {
  position: relative;
}
.dropdown-menu.ativo {
  display: flex;
}
.item-menu {
   
    text-decoration: none;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    
    white-space: nowrap;
}
#login {
    font-size: 18px;
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
  font-family: 'odor mean chey';
  background-color:#000; /* fundo da caixa */
  color: #EFDAA4;                         /* cor do texto */
  padding: 5px 10px;                   /* espaço interno */
  border-radius: 20px;                   /* cantos arredondados */
  width: fit-content; 
}
.hamburguer {
   display: none;
   cursor: pointer;
   position: relative;
   z-index: 999;
   flex-direction: column;
   gap: 6px;
}

/* Barras */
.barra {
   width: 30px;
   height: 3px;
   background-color: var(--bege);
   border-radius: 10px;
   transition: 0.4s;
}
/* Aqui é o css da section do filme/album */
main{
   flex: 1;   /*profooter colar na parte inferior da tela, odio ele fica subindo*/
}
#page{
   min-height: 100vh;       /* ocupa a tela inteira */
  display: flex;
  flex-direction: column;  /*GAMBIARRA PRO FOOTER TOCAR O CHÃO, SE ATRAPALHAR PODE TIRAR*/
}
.bloco-obra{
    display: flex;
    align-items: center;
    gap: 27px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background: var(--gradescuro);
    height: 250px;
}
.bloco-obra-barbie{
    display: flex;
    align-items: center;
    gap: 27px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background: var(--gradbarbie);
    height: 250px;
}
.img-obra{
    margin-left: 20px;
    height: 220px;
}
.obra-conteudo{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}
.obra-conteudo h5{
  font-weight: 400;
}
.obra-conteudo h6{
    font-weight: lighter;

}


/* aqui é o article da musica */
.music-card {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;  
   transition: box-shadow 0.25s ease;
   cursor: pointer;
   height: max-content;
   
}
.music-card-playing{
   margin-top: 20px;
  margin-left: 20px;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;  
   transition: box-shadow 0.25s ease;
   
}

.music-card:hover {
  box-shadow: 12px 12px 12px rgba(83, 0, 0, 0.35);
   transform: translateY(-2px);
   border: #240101;
}
.music-card-barbie{
    transition: box-shadow 0.25s ease;
}
.music-card-barbie:hover {
  box-shadow: 12px 12px 12px rgba(83, 0, 59, 0.35);
   transform: translateY(-2px);
   border: #240117;
}
.music-card h6{
  color:gray;
}
/* imagem msc */
.img-msc {
  height: 100px;
  width: 100px;
  border-radius: 60%;
  margin-left: 5px;
}
/* descrição msc */
.desc-msc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.music-title {
  cursor: pointer;
}
/* funcionalidades geral */
.player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* centro do card */
  display: flex;
  flex-direction: column; /* botões em cima, tempo embaixo */
  align-items: center;
  gap: 8px;
}
/* se nao me engano, isso serve para os botoes ficarem invisiveis enquanto a msc não esta tocando */
.hidden {
  display: none;
}
/* botões */
.player button {
  width: 42px;
  margin: 0;
  height: 42px;
  background: none;
 border-radius: 50%;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border 0.2s ease; 
}
/* esse active é quando acontece uma ação, nesse caso, aparece uma borda branca qaundo o botao é clicado */
.player button.active{
  border: 3px solid white;
}
.player .prev{
  position: relative;
  right: 300px;
}
.player .next{
  position: relative;
  left: 300px;
}
/* esse é o ngc de minutos */
.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 300px;
}
.progress {
  flex: 1;
  appearance: none;
  height: 3px;
  background: #aaa;
  border-radius: 5px;
}
/* não pergunte sobre os nomes estranhos, chat q fez */
.progress::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.current-time,
.duration {
  font-size: 12px;
  color: #ccc;
}
.right-info {
  position: absolute;
  top: 30px;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.pngbrabo{
  width: 1px;
}
.star-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}
.star-btn.active {
  color: gold;
}
footer{
  margin-top: 30px;
    background: var(--vermelho);
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
   margin-right: 3px;
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
#img-footer{
  gap:17px;
  display: flex;
}
.icone{
    width: 40px;
    margin-top: 12px;
}

@media (max-width: 768px) {
  .logo{
  display: none;
}
 #pngbrabo{
  display: flex;
  width: 65px;
  height: auto;
 }
 #letreiro{
    height: 50px;
    width: auto;
    display: flex;
  }
#busca{
    max-height: 25px;
    margin-top: 20px;
}
 header{
    height: 80px;
    background: var(--gradheaderpequeno);
     justify-content: space-between;
  }

  /* MOSTRA O HAMBÚRGUER */
 

  /* ESCONDE MENU DESKTOP */
  .menu-header{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
      z-index: 8;
  }
  .item-menu{
    color: white;
  }
  #login{
    color: white;

  }
   .hamburguer{
    display: flex;
    margin-right: auto 0;
    
  }

  .menu-header.active{
    display: flex;
  }

  /* animação */
  .hamburguer.active .barra:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .barra:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .barra:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  .dropdown-menu {
    position: static; /* fica dentro do menu */
    display: none;
  }

  .dropdown-menu.ativo {
    display: flex; 
  }
  .bloco-obra{
    background: var(--gradescuropequeno);
  }
   .bloco-obra-barbie{
    background: var(--gradescuropequenobarbie);
   }
.music-card {
  min-height: 180px; 
  padding:50px 20px;

  margin:auto;
  justify-content:space-between;
  align-items: normal;
}
.desc-msc {
  text-align: center; 
 
}
.desc-msc h3,
.desc-msc p {
  margin: 0;
}
.uniao-texto-play{
 display: flex;
  flex-direction: column;   
  align-items: center;     
  gap: 0.7rem;        
}
.player button {
  width: 30px;
  height: 30px;
 
}
.player {
  gap: 0;
   width: 140px;            
   position: relative;
  align-self: flex-start;
  margin-top: 10px;
  height: 30px;              
  transition: opacity 0.25s ease;
}
.music-card.active .player {
  opacity: 1;
  pointer-events: auto;
}

.player .prev{
  position: relative;
  right: 50px;
}
.player .next{
  position: relative;
  left: 50px;
}
}

@media (max-width: 400px) {
   header{
   padding-top: 20px;
  }
   #letreiro{
    height: 38px;
    width: auto;
  }
.progress-container{
width: 200px;
}
.player{
  margin-top: 0;
}
.uniao-texto-play{
  gap:0;
}

footer{ 
    height: 55px;
    width: 100%;
    margin-bottom: 2px;
     min-height: 0;
    
  }
  #direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.direito-txt{
  font-size: 0.7rem;
}
#copy{
  font-family: 'open sans';
  margin-right: 3px;
  margin-top: auto;
}
#tracks-footer{
  font-family: 'Etna';
  margin-top: auto;
}
#cine-footer{
  font-family: 'norwester';
  margin-top: auto;
}
#img-footer{
  gap:7px;
  display: flex;
  justify-content: center;
}
.icone{
    width: 20px;
    margin-top: 5px;
}
}

