*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
     --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#EFDAA4);
    --bege: #f6e0d2;
    --preto: #000000;
    --vermelho: #620606;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
    --vermelhosemiescuro:#520909;
    --texturadourada:linear-gradient(to right,#e4b23a,#f8d175,#e4b23a);
}
body{
   background: linear-gradient(to bottom,#000,#000,#000,#000,#000,#000,#250303,#250303,#250303,#250303,#250303 ); 
}
header{
  background: var(--gradvermelho);
  display: flex;
  height: 10%;
  width: 100%;
  text-align: center;
  z-index: 2;
  gap:1%;   /*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
}
.logo{
    height: 90px;
    margin-left: 7px;
    margin-top: 4px;
}
#busca{
    height: 25px;
    margin-top: 35px;
    border-radius: 15px;
    border: #f6e0d2;
    width: 200px;
    padding: 5px;
    font-weight: bold;
}
.menu-header{
  
    list-style: none;
   margin-left: 1100px;
    display: flex;
    margin-top: 35px;
    gap:20px;  
}
.item-menu {
   
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    white-space: nowrap;
}
#login {
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
}


/* BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 
BLOCO 1 BLOCO 1 BLOCO 1  BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1*/

.titulocinetracks{
  display: flex;
  justify-content: center;
}
#Cine{
  background: linear-gradient(to right, #e4b23a, #f8d175,#e4b23a);
  /* IGNORE A LINHA AMARELA, ELA É UM AVISO, MAS NÃO INTERFERE EM NADA */
  -webkit-background-clip: text;      
  -webkit-text-fill-color: transparent;
  font-family: 'norwester';
  font-size: 9rem;
 margin-top: auto;
 font-weight: 400;
}
#tracks{
  background: linear-gradient(to right, #e4b23a, #f8d175,#e4b23a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Etna';
  font-size: 7rem;
  margin-top: 2.2%;
}
.container-cards{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding: 20px;
  margin-left: 25px;
  margin-right: 40px;
}
.coluna-esquerda-cinetracks{
  margin: 0 auto;
  justify-content: center;
}
#card-quemsomos{
  justify-content: center;
  border-radius: 70px;
  background-color: var(--vermelhosemiescuro);
  padding: 30px;
  width: 90%;
  margin-left: auto;
  padding-top: 10px;
}
#card-contatos{
   justify-content: center;
   border-radius: 70px;
  background-color:  var(--vermelhosemiescuro);
  padding: 5px;
  margin-top: 50px;
  padding-bottom: 28px;
 width: 90%;
 margin-left: auto;
}
#titulo-contatos{
  font-size: 2.3rem;
}
.icones-contatos-cinetracks{
  display: flex;
  gap:15px;
 justify-content: center;
 margin-top: 10px;
}
.contatos-cinetracks{
  width: 18%;
}
.coluna-direita-cinetracks{
  width: 9070px;
}
#card-nossoobjetivo{
  justify-content: center;
  border-radius: 70px;
  background-color:  var(--vermelhosemiescuro);
  padding: 30px;
  padding-top: 10px;
}
#card-nossaidentidade{
  justify-content: center;
  border-radius: 70px;
  background-color: var(--vermelhosemiescuro);
  padding: 30px;
  margin-top: 50px;
  padding-top: 10px;
}
.texto{
  text-align: justify;
  color: #ffff;
  font-size: 1.4rem;
  font-family: 'open sans';
}
.titulo-card{
  color:#fff;
  font-family: 'bebas neue';
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight:600;
}
/* BLOCO 2 BLOCO 2 BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 
BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2*/

.container-desenvolvedoras{
  display: flex;
  gap:50px;
  margin-top: 50px;
}
#titulodesenvolvedoras{
  font-family: 'norwester';
  font-size: 7rem;
  text-align: center;
  color: #fff;
}
#card-otime{
   justify-content: center;
  border-radius: 70px;
  background-color:#000;
  padding: 30px;
  width: 100%;
}
/* caixa de desenvolvedora */
.card-desenvolvedora-esquerda{
  border-radius: 50px;
  padding:10px;
  background-color: #000;
    display: flex;
  align-items: center;
  padding-left: 5px;
   margin-top: 30px;
   max-width: 100%;
}
.coluna-esquerda-desenvolvedoras{
  margin-left: 20px;
}
.nome{
  font-family: 'bebas neue';
  color:#fff;
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
}
.ocupacao{
  font-family: 'bebas neue';
  color:#ffffff82;
  text-align: center;
  margin-top: -4px;
}
.redes{
  justify-content: center;
  display: flex;
  gap:30px;
  margin-top: 30px;
}
.foto{
  border-radius: 70px;
  width: 15%;
  object-fit: cover;
  margin-left: 20px;
}
.icones-desenvolvedoras{
   width: 9%;
}

/* DIREITAAAAA DIREITAAAA */

.coluna-direita-desenvolvedoras{
   display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.card-desenvolvedora-direita{
   border-radius: 50px;
 padding:10px;
  background-color: #000;
    display: flex;
  align-items: center;
  padding-left: 5px;
  max-width: 100%;
  margin-top: 30px;
  margin-right: 10px;
}
footer{
  margin-top: 30px;
    background: #000;
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
#icones{
  gap: 30px; 
  /* depois arrumar o footer */
}
.icone{
    width: 32px;
    margin-top: 12px;  
}
/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .header{
   background: var(--gradvermelho);
  display: flex;
  height: 30px;
  width: 100%;
  }
  .logo{
    height: 50px;
    margin-left: 7px;
    margin-top: 4px;
  }
    #Cine{
  
  font-size: 5rem;
 margin-top: auto;
 font-weight: 400;
}
#tracks{
 
  font-size: 3rem;
  margin-top:6.7% ;/*plmdds arrumar esse tracks, ele quebra mto*/
}
.texto{
  
  font-size: 0.9rem;
  
}
.titulo-card{
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight:600;
}







.container-cards{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto 0;
  width: 100%;
}
 #card-quemsomos {
        order: 1;
        margin: 0 auto;
        width: 100%;
    }

    #card-nossoobjetivo {
        order: 2;
    }

    #card-nossaidentidade {
        order: 3;
        margin: 0 auto;
    }

    #card-contatos {
        order: 4;
        width: 100%;
        margin: 0 auto;
    }
    .coluna-esquerda-cinetracks,
    .coluna-direita-cinetracks {
        display: contents;
    }
    .contatos-cinetracks{
      width: 14%;
    }
    .icones-contatos-cinetracks{
      gap:20px;
    }


    /* BLOCO 2 BLOCO 2 BLOCO 2 BLOCO 2 */
    #titulodesenvolvedoras{
 
  font-size: 3.6rem;
  margin-top: 40px;
}
#card-otime{
  
  padding: 30px;
  width: 90%;
  margin-left: 28px;
}
    .container-desenvolvedoras{
  display: flex;
  gap:10px;
  margin:auto 0;
  flex-direction: column;
  margin-top: 30px;
}
.coluna-esquerda-desenvolvedoras,
    .coluna-direita-desenvolvedoras{
        display: contents;
    }
    .card-desenvolvedora-direita,
    .card-desenvolvedora-esquerda{
      margin: auto 0;
      margin-right: 20px;
      margin-left: 20px;
    }

  #esteh{
    order:1;
    margin-top: 20px;
  }
  #sophia{
    order:2;
  }
  #berta{
    order:3;
  }
  #nana{
    order:4;
  }
  #mali{
    order:5;
  }



  }