*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
     --gradvermelho:linear-gradient(to right,#000000,#000,#620606,#EFDAA4);
    --bege: #f6e0d2;
    --preto: #000000;
    --vermelho: #620606;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
}
header{
  background: var(--gradvermelho);
  display: flex;
  height: 10%;
  width: 100%;
  text-align: center;
  z-index: 2;
  gap:1%;   /*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
}

.logo{
    height: 90px;
    margin-left: 7px;
    margin-top: 4px;
}
#busca{
    height: 25px;
    margin-top: 35px;
    border-radius: 15px;
    border: #f6e0d2;
    width: 200px;
    padding: 5px;
    font-weight: bold;
   
    
  
}

.menu-header{
  
    list-style: none;
    margin-left: 900px;
    display: flex;
    margin-top: 35px;
    gap:20px;
   
    
}
.item-menu {
   
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    
    white-space: nowrap;
}
#login {
    font-size: 20px;
    
   
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
}






/* COLOQUE O CONTEUDO AKI, NESTA REGIÃO */







footer{
  margin-top: 30px;
    background: var(--vermelho);
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}

.icone{
    width: 75px;
    margin-top: 12px;
    

}