*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
   --gradvermelho:linear-gradient(to right,#0000,#000,#620606,#f0c68b,#EFDAA4);
     --gradheaderpequeno:linear-gradient(to right,#000000,#000,#3d0505,#620606);
    --bege: #f6e0d2;
    --preto: #000000;
    --vermelho: #620606;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
    --vermelhosemiescuro:#520909;
    --texturadourada:linear-gradient(to right,#e4b23a,#f8d175,#e4b23a);
    --amareloheader:#EFDAA4;
    --gradhamburguer:linear-gradient(to right,#2e0404,#4b0606,#610606);
}
body{
   background: linear-gradient(to bottom,#000,#000,#000,#000,#000,#000,#250303,#250303,#250303,#250303,#250303 ); 
}
header{
 background: var(--gradvermelho);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 97px;   
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 2;/*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
}
.logo{
 height: 90px;
}

.menu-header{
     list-style: none;
    display: flex;
    gap:20px;
    margin-right: 2px;
}
.dropdown-btn {
  cursor: pointer;
    background: none;
  border: none;
  outline: none;
  text-decoration: none;
    font-size: 20px;
      font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
}

/* menu escondido */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background:#000;
  border-radius: 8px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  min-width: 140px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* links */
.dropdown-menu a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-family: 'odor mean chey';
}

.dropdown-menu a:hover {
  background: #222;
}

/* container */
.dropdown {
  position: relative;
}
.dropdown-menu.ativo {
  display: flex;
}




.item-menu {
   
    text-decoration: none;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    white-space: nowrap;
}
#login {
    font-size: 18px;
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
      background-color:#000; /* fundo da caixa */
  color: #EFDAA4;                         /* cor do texto */
  padding: 5px 10px;                   /* espaço interno */
  border-radius: 20px;                   /* cantos arredondados */
  width: fit-content; 
}
.hamburguer {
   display: none;
   cursor: pointer;
   position: relative;
   z-index: 999;
   flex-direction: column;
   gap: 6px;
}

/* Barras */
.barra {
   width: 30px;
   height: 3px;
   background-color: var(--bege);
   border-radius: 10px;
   transition: 0.4s;
}


/* BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 
BLOCO 1 BLOCO 1 BLOCO 1  BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1 BLOCO 1*/

.titulocinetracks{
  display: flex;
  justify-content: center;
  padding: 20px;
}
#cine-letreiro{
   height: 140px;
  width: auto;
}
.container-cards{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding: 20px;
  margin-left: 25px;
  margin-right: 40px;
}
.coluna-esquerda-cinetracks{
  margin: 0 auto;
  justify-content: center;
}
#card-quemsomos{
  justify-content: center;
  border-radius: 70px;
  background-color: var(--vermelhosemiescuro);
  padding: 30px;
  width: 90%;
  margin-left: auto;
  padding-top: 10px;
}
#card-contatos{
   justify-content: center;
   border-radius: 70px;
  background-color:  var(--vermelhosemiescuro);
  padding: 5px;
  margin-top: 50px;
  padding-bottom: 28px;
 width: 90%;
 margin-left: auto;
}
#titulo-contatos{
  font-size: 2.3rem;
}
.icones-contatos-cinetracks{
  display: flex;
  gap:15px;
 justify-content: center;
 margin-top: 10px;
}
.contatos-cinetracks{
  width: 18%;
}
.coluna-direita-cinetracks{
  width: 9070px;
}
#card-nossoobjetivo{
  justify-content: center;
  border-radius: 70px;
  background-color:  var(--vermelhosemiescuro);
  padding: 30px;
  padding-top: 10px;
}
#card-nossaidentidade{
  justify-content: center;
  border-radius: 70px;
  background-color: var(--vermelhosemiescuro);
  padding: 30px;
  margin-top: 50px;
  padding-top: 10px;
}
.texto{
  text-align: justify;
  color: #ffff;
  font-size: 1.4rem;
  font-family: 'open sans';
}
.titulo-card{
  color:#fff;
  font-family: 'bebas neue';
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight:600;
}
/* BLOCO 2 BLOCO 2 BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 
BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2 BLOCO 2BLOCO 2*/

.container-desenvolvedoras{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap:50px;
  width: 100%;
}
#titulodesenvolvedoras{
  font-family: 'norwester';
  font-size: 7rem;
  text-align: center;
  color: #fff;
}
#card-otime{
   justify-content: center;
  border-radius: 70px;
  background-color:#000;
  padding: 30px;
  /* width: 100%; */
}
/* caixa de desenvolvedora */
.coluna-esquerda-desenvolvedoras{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.nome{
  font-family: 'bebas neue';
  color:#fff;
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
}
.ocupacao{
  font-family: 'bebas neue';
  color:#ffffff82;
  text-align: center;
  margin-top: -4px;
}
.redes{
  justify-content: center;
  display: flex;
  gap:30px;
  margin-top: 30px;
}

.foto{
  border-radius: 70px;
  width: 15%;
  object-fit: cover;
  margin-left: 20px;
}
.icones-desenvolvedoras{
    display: block;
  height: 40px;        /* ou o tamanho que você quiser */
  width: auto; 
}
.linkagem{
   display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;      
  padding: 0;
  margin: 0;
  line-height: 0;

}

/* DIREITAAAAA DIREITAAAA */

.coluna-direita-desenvolvedoras{
   display: flex;
  flex-direction: column;
  width: 50%;

  justify-content: flex-end; /* cola embaixo */

  
}
.card-desenvolvedora{
   border-radius: 50px;
 padding:10px;
  background-color: #000;
    display: flex;
  align-items: center;
  padding-left: 5px;
  max-width: 100%;
  margin-top: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.pngbrabo{
  width: 30px;
}

footer{
  margin-top: 30px;
    background: #000;
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
   margin-right: 3px;
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
#icones{
   gap:17px;
  display: flex;
}
.icone{
    width: 40px;
    margin-top: 12px; 
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {

  .logo{
    height: 70px;
    width: auto;
    margin-left: 4px;
    margin-top: 4px;
  }
  header{
    height: 80px;
    background: var(--gradheaderpequeno);
    padding: 0 10px;
  }

  /* MOSTRA O HAMBÚRGUER */
 

  /* ESCONDE MENU DESKTOP */
  .menu-header{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
  }
  .item-menu{
    color: white;
  }
  #login{
    color: white;
  }
  .hamburguer{
    display: flex;
    margin-right: auto 0;
  }
  .menu-header.active{
    display: flex;
  }
  /* animação */
  .hamburguer.active .barra:first-child {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburguer.active .barra:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .barra:last-child {
    transform: translateY(-9px) rotate(-45deg);
  }
  .dropdown-menu {
    position: static; /* fica dentro do menu */
    display: none;
  }
  .dropdown-menu.ativo {
    display: flex; /* abre ao clicar */
  }
 .titulocinetracks{
  padding: 10px;
}
#cine-letreiro{
   height: 70px;
}
.texto{
  font-size: 0.9rem;
}
.titulo-card{
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight:600;
}
.container-cards{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto 0;
  width: 100%;
}
 #card-quemsomos {
        order: 1;
        margin: 0 auto;
        width: 100%;
    }

    #card-nossoobjetivo {
        order: 2;
    }

    #card-nossaidentidade {
        order: 3;
        margin: 0 auto;
    }

    #card-contatos {
        order: 4;
        width: 100%;
        margin: 0 auto;
    }
    .coluna-esquerda-cinetracks,
    .coluna-direita-cinetracks {
        display: contents;
    }
    .contatos-cinetracks{
      width: 14%;
    }
    .icones-contatos-cinetracks{
      gap:20px;
    }


    /* BLOCO 2 BLOCO 2 BLOCO 2 BLOCO 2 */
    #titulodesenvolvedoras{
 
  font-size: 3.6rem;
  margin-top: 40px;
}
#card-otime{
  
  padding: 30px;
  width: 90%;
  margin-left: 28px;
}
    .container-desenvolvedoras{
  display: flex;
  gap:10px;
  margin:auto 0;
  flex-direction: column;
  margin-top: 30px;
}
.coluna-esquerda-desenvolvedoras,
    .coluna-direita-desenvolvedoras{
        display: contents;
    }
    .card-desenvolvedora{
      margin: auto 0;
      margin-right: 20px;
      margin-left: 20px;
    }

  #esteh{
    order:1;
    margin-top: 20px;
  }
  #sophia{
    order:2;
  }
  #berta{
    order:3;
  }
  #nana{
    order:4;
  }
  #mali{
    order:5;
  }
}


/* medida para celular pequeno */
@media (max-width: 400px) {
  #cine-letreiro{
    height: 60px;
  }
  #titulodesenvolvedoras{
    margin: 0 10px;
    font-size: 3rem;
  }
footer{ 
    height: 55px;
    width: 100%;
    margin-bottom: 2px;
    min-height: 0;
  }
  #direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.direito-txt{
  font-size: 0.7rem;
}
#copy{
  font-family: 'open sans';
  margin-right: 3px;
  margin-top: auto;
}
#tracks-footer{
  font-family: 'Etna';
  margin-top: auto;
}
#cine-footer{
  font-family: 'norwester';
  margin-top: auto;
}
#img-footer{
  gap:7px;
  display: flex;
  justify-content: center;
}
.icone{
    width: 20px;
    margin-top: 5px;
}
.icones{
  gap:0;
}
}


  