*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
     --gradvermelho:linear-gradient(to right,#0000,#000,#620606,#EFDAA4);
    --bege: #f6e0d2;
    --preto: #0000;
    --vermelho: #620606;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
}
body{
    background-color: black;
     touch-action: pan-y;
      overflow-x: hidden;
  overflow-y: auto;
}
header{
  /* ISSO É TESTE DO SHOT DA ESTRELA, É HORRIVEL DE FAZER, NÃO DA CRT */
    /* background: linear-gradient(90deg, #620606 70%,#EFDAA4 30% );

 
  background-size: 200% 210%;

  animation: gradiente 2s ease-out forwards; */
  background: var(--gradvermelho);

    display: flex;
    height: 100px;
    width: 100%;
     text-align: center;
     z-index: 2;
     gap:15px;
}
/* TESTE DO SHOT, HORRIVEL, TEM Q ESTUDAR MAIS */
 /* @keyframes gradiente {
  from {
    background-position: -400% 0%;
  }

  to {
    background-position: 0% 0; 
  }
 } */










.logo{
    height: 90px;
    margin-left: 7px;
    margin-top: 4px;
}
#busca{
    height: 25px;
    margin-top: 35px;
    border-radius: 15px;
    border: #f6e0d2;
    width: 200px;
    padding: 5px;
    font-weight: bold;
    /* margin-left: 20px;
   */
    
  
}
/* SOPHIA, ARRUME ESSE NAV AAAAAA */
.menu-header{
  
    list-style: none;
    margin-left: 900px;
    display: flex;
    margin-top: 35px;
    gap:20px;
    /* margin-right: 5px; */
    
}
.item-menu {
    /* margin: 10px;  */
    
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    
    white-space: nowrap;
}
#login {
    font-size: 20px;
    /* margin: 10px;  */
   
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
}

/* .item-menu::before,
.item-menu::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, 
        rgba(255, 100, 150, 0), 
        rgb(250, 196, 1), 
        rgba(255, 100, 150, 0));

  box-shadow: 0 0 10px rgba(255, 199, 96, 0.8),
              0 0 20px rgba(255, 199, 96, 0.6),
              0 0 40px rgba(255, 199, 96, 0.5);

  opacity: 0;
  transition: .5s;
}

.item-menu::before {
  left: 0;
  top: 0;
}

.item-menu::after {
  right: 0;
  bottom: 0;
}

.item-menu:hover::before,
.item-menu:hover::after {
  width: 100%;
  opacity: 1;
} */





/* #login::before,
#login::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, 
        rgba(255, 100, 150, 0), 
        rgba(250, 196, 1), 
        rgba(255, 100, 150, 0));

  box-shadow: 0 0 10px rgba(255, 199, 96, 0.8),
              0 0 20px rgba(255, 199, 96, 0.6),
              0 0 40px rgba(255, 199, 96, 0.5);

  opacity: 0;
  transition: .5s;
}

#login::before {
  left: 0;
  top: 0;
}

#login::after {
  right: 0;
  bottom: 0;
}

#login:hover::before,
#login:hover::after {
  width: 100%;
  opacity: 1;
} */


/* TESTE EFEITOS */


/* .item-menu {
  position: relative;
  display: inline-block;
}

.item-menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 30%;
  background: #ffca1a;
  transition: 0.3s ease;
}

.item-menu:hover::after {
  width: 100%;
} */

/* .item-menu {
  padding: 12px 20px;
  background: #111;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
} */

/* .filmes {
  position: relative;
  width: 250px;
  height: 140px;
  background: #222;
  border-radius: 12px;
  overflow: hidden;
  transition: transform .3s;
}

.filmes:hover {
  transform: scale(1.03);
}

.filmes::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  transition: 0.6s;
}

.filmes:hover::before {
  left: 120%;
} */

/* .item-menu {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
}

.item-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #ffca1a;
  transition: 0.3s ease;
}

.item-menu:hover::after {
  width: 100%;
} */
/* --------------------------------------------------- */
/* main{
    overflow: scroll;
} */
.subtitulo-1{
    color:var(--bege);
    margin:23px;
    margin-left: 35px;
    font-size: 22px;
    font-family: 'odor mean chey';
    font-weight: 100;
}
.soundtracks-alta{
   display: flex;
   margin: 30px;
   margin-top: 15px;
   margin-left: -30px;
   animation: efeito1 100s linear infinite;
   
   
}
.msc img{
    margin: 5px;
    width: 150px;
    margin-left: 60px;
    border-radius: 50%;
     transition: 3s;   
}
.msc img:hover{
    transform: scale(1.02);
    transition: 0.3s;
    border: solid 2px;
    border-color: #ffcc0080;  /* muda a borda para rosa */
    box-shadow: 0 0 10px rgba(255, 199, 96, 0.523),
                0 0 20px rgba(255, 199, 96, 0.484),
                0 0 30px rgba(255, 199, 96, 0.252);
}
.subtitulo-2{
     color:var(--bege);
    margin:23px;
    margin-left: 35px;
    font-size: 22px;
    font-family: "odor mean chey";
    font-weight: 100;

}
.filmes{
   display: flex;
   margin: 30px;
   margin-top: 30px;
   margin-left: -5px;
}
.filme {
    display: flex;
    flex-direction: column;
    margin-right: 20px;   /* distancia entre os cards */
}

.filme img{
    width: 180px;
    margin: 5px;
    height: 260px;
    margin-left: 43px;
}
.filme img:hover{
     transform: scale(1.02);
    transition: 0.3s;
}
.nome-filme{
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
    color: var(--bege);
    font-weight: bold; 
    text-align: center;
   
}
.ano-lanc{
      font-size: 16px;
    text-decoration: none;
    margin-left: 118px;
    color: var(--bege);
    font-weight: bold; 
}
   
footer{
    background: var(--vermelho);
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.icone{
    width: 43px;
    margin-top: 12px;
}

 @keyframes efeito1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
