*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
     --gradvermelho:linear-gradient(to right,#0000,#000,#620606,#f0c68b,#EFDAA4);
      --gradheaderpequeno:linear-gradient(to right,#000000,#000,#3d0505,#620606);
    --bege: #f6e0d2;
    --preto: #0000;
    --vermelho: #520909;
    --dourado: #e4b23a;
    --vermelhoescuro:#280404;
}
body{
  background-color: black;
  /* touch-action: pan-y; 
  overflow-x: hidden; 
  overflow-y: auto;    */
 
}
  .wrapper {
 min-height: 100vh;      /* página sempre do tamanho da tela */
  display: flex;          /* NÃO é no body */
  flex-direction: column; /* conteúdo em coluna */
  }
  main{
  flex: 1;
}

header{
 background: var(--gradvermelho);
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 90px;   
  width: 100%;
  z-index: 2;/*porcentagem para facilitar na responsividade, acredito eu */ /*era fake news, mas deixa assim*/
  padding: 0 24px;
}
.uniao-logo-busca{
  gap:30px;
  display: flex;
  align-items: center;
}

.logo{
   height: 90px;
    margin-top: 15px;
}
#busca{
    height: 25px;
    margin-top: 35px;
    border-radius: 15px;
    border: #f6e0d2;
    width: 200px;
    padding: 5px;
    font-weight: bold;
    margin-right: 200px;
}

.menu-header{
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 35px;
}
.dropdown-btn {
  cursor: pointer;
    background: none;
  border: none;
  outline: none;
}

/* menu escondido */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background:#000;
  border-radius: 8px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  min-width: 140px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* links */
.dropdown-menu a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-family: 'odor mean chey';
}

.dropdown-menu a:hover {
  background: #222;
}

/* container */
.dropdown {
  position: relative;
}
.dropdown-menu.ativo {
  display: flex;
}
.item-menu {
   
    text-decoration: none;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
    color: var(--vermelhoescuro);
    white-space: nowrap;
}
#login {
    font-size: 18px;
    text-decoration: none;
    padding: 2px;
    position: relative;
    overflow: hidden;
    font-family: 'odor mean chey';
      background-color:#000; /* fundo da caixa */
  color: #EFDAA4;                         /* cor do texto */
  padding: 5px 10px;                   /* espaço interno */
  border-radius: 20px;                   /* cantos arredondados */
  width: fit-content; 
}
  

.hamburguer {
   display: none;
   cursor: pointer;
   position: relative;
   z-index: 999;
   flex-direction: column;
   gap: 6px;
}

/* Barras */
.barra {
   width: 30px;
   height: 3px;
   background-color: var(--bege);
   border-radius: 10px;
   transition: 0.4s;
}


.subtitulo-1{
    color:var(--bege);
    margin:23px;
    margin-left: 35px;
    font-size: 1.4rem;
    font-family: 'odor mean chey';
    font-weight: 100;
}
.soundtracks-alta{
   display: flex;
   margin: 30px;
   margin-top: 15px;
   margin-left: -30px;
   animation: efeito1 100s linear infinite;
   
   
}
.msc img{
    margin: 5px;
    width: 150px;
    margin-left: 60px;
    border-radius: 50%;
     transition: 3s;   
}
.msc img:hover{
    transform: scale(1.06);
    transition: 0.3s;
}
.subtitulo-2{
     color:var(--bege);
    margin:23px;
    margin-left: 35px;
    font-size: 1.4rem;
    font-family: "odor mean chey";
    font-weight: 100;

}
.uniao-imagem-nome-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrossel-filmes {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.arrow {
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  display: none;
}
.filmes{
   display: flex;
   margin-top: 30px;
     /* overflow-x: hidden; 
  scroll-behavior: smooth; */
  gap: 60px;
  justify-content: space-evenly;
  margin-left: 30px;
 
  
}
.filmes::-webkit-scrollbar {
  display: none;
}
.filme {
    display: flex;
    flex-direction: column;
    /* margin-right: 20px;   distancia entre os cards */
}

.filme img{
    width: 180px;
    margin: 5px;
    height: 270px;
 
}
.filme img:hover{
     transform: scale(1.02);
    transition: 0.3s;
}
.nome-filme{
    font-size: 16px;
    text-decoration: none;
    color: var(--bege);
    font-weight: bold; 
    text-align: center;
    font-family: 'open sans';
   
}
#velozes{
   font-size: 16px;
  max-width: 150px;
}
.ano-lanc{
      font-size: 0.9rem;
    text-decoration: none;
    color: var(--bege);
    font-weight: bold; 
    font-family: 'open sans';
}
   
footer{
  margin-top: 30px;
    background: var(--vermelho);
    display: flex;
   min-height: 100px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
}
.footer-container{
  margin-top: 10px;
}
@font-face {
  font-family: 'Etna';
  src: url('../fonts/etna-free-font.otf') format('truetype');
}
#direitos-footer{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#copy{
  font-family: 'open sans';
}
#tracks-footer{
  font-family: 'Etna';
}
#cine-footer{
  font-family: 'norwester';
}
#img-footer{
  gap:17px;
  display: flex;
}
.icone{
    width: 40px;
    margin-top: 12px;
}

 @keyframes efeito1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* RESPONSIVIDADE  */
/* responnsividade para as setas aparecerem assim que o primeiro filme sair de tela, muito capricho */
@media (max-width: 1388px) { 
  .carrossel-filmes{
  position: relative;
}
.arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left { left: 5px; }
  .right { right: 5px; }


}

@media (max-width: 768px) {
  main{
    /* margin-top: 100px; */
    flex:1;
  }
  .logo{
    height: 50px;
    margin-left: 7px;
    margin-top: 4px;
}
#busca{
    max-height: 20px;
    margin-top: 20px;
    margin-right: 160px;
    

}
 header{
    height: 60px;
    background: var(--gradheaderpequeno);
    justify-content: flex-end;
  }
  .uniao-logo-busca{
  gap:5px;
  display: flex;

}

  /* MOSTRA O HAMBÚRGUER */
 

  /* ESCONDE MENU DESKTOP */
  .menu-header{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
      z-index: 8;
 
      
  }
  .item-menu{
    color: white;
  }
  #login{
    color: white;

  }
   .hamburguer{
    display: flex;
    margin-right: auto 0;
    
  }

  .menu-header.active{
    display: flex;
  }

  /* animação */
  .hamburguer.active .barra:first-child {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburguer.active .barra:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .barra:last-child {
    transform: translateY(-9px) rotate(-45deg);
  }
  .dropdown-menu {
    position: static; /* fica dentro do menu */
    display: none;
  }

  .dropdown-menu.ativo {
    display: flex; /* abre ao clicar */
  }
  .soundtracks-alta{
   animation: efeito1 30s linear infinite;
  }
.msc img{
    margin: 5px;
    width: 140px;
    margin-left: 30px;
    border-radius: 50%;
     transition: 3s;   
}
.carrossel-filmes{
  position: relative;
}
.arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left { left: 5px; }
  .right { right: 5px; }

  .filmes {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
    
  .filme{
    min-width: 160px;
  flex-shrink: 0;
  }

.filme img{
    width: 168px;
      margin: 0;
    height: 240;
    object-fit: cover;
  
}
.ano-lanc{
      font-size: 0.9rem;
   
}
.subtitulo-1{
  font-size: 1.5rem;
  margin-bottom: 6px;
 
}
.subtitulo-2{
  font-size: 1.5rem;
 margin-bottom: 6px;
}
footer{
  
    background: var(--vermelho);
    display: flex;
    height: 80px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
   
}
body {
  height: 100%;
  margin: 0;
 
}
}








@media (max-width: 480px) {
   main{
    /* margin-top: 100px; */
    flex:1;
  }
  .logo{
    height: 50px;
    margin-left: 7px;
    margin-top: 4px;
}
#busca{
    max-height: 20px;
    margin-top: 20px;
    margin-right: 160px;
    

}
 header{
    height: 80px;
    background: var(--gradheaderpequeno);
    justify-content: flex-end;
  }
  .uniao-logo-busca{
  gap:5px;
  display: flex;

}

  /* MOSTRA O HAMBÚRGUER */
 

  /* ESCONDE MENU DESKTOP */
  .menu-header{
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
      z-index: 8;
 
      
  }
  .item-menu{
    color: white;
  }
  #login{
    color: white;

  }
   .hamburguer{
    display: flex;
    margin-right: auto 0;
    
  }

  .menu-header.active{
    display: flex;
  }

  /* animação */
  .hamburguer.active .barra:first-child {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburguer.active .barra:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .barra:last-child {
    transform: translateY(-9px) rotate(-45deg);
  }
  .dropdown-menu {
    position: static; /* fica dentro do menu */
    display: none;
  }

  .dropdown-menu.ativo {
    display: flex; /* abre ao clicar */
  }
  .soundtracks-alta{
   animation: efeito1 30s linear infinite;
  }
.msc img{
    margin: 5px;
    width: 140px;
    margin-left: 30px;
    border-radius: 50%;
     transition: 3s;   
}
.carrossel-filmes{
  position: relative;
}
.arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left { left: 5px; }
  .right { right: 5px; }

  .filmes {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
    
  .filme{
    min-width: 160px;
  flex-shrink: 0;
  }

.filme img{
    width: 168px;
  aspect-ratio: 2 / 3; 
  object-fit: cover;
  margin: 0;
  
}
.ano-lanc{
      font-size: 0.9rem;
   
}
.subtitulo-1{
  font-size: 1.5rem;
  margin-bottom: 6px;
 
}
.subtitulo-2{
  font-size: 1.5rem;
 margin-bottom: 6px;
}
footer{
  
    background: var(--vermelho);
    display: flex;
    height: 80px;
    width: 100%;
    text-align: center;
    color: var(--bege);
    justify-content: center;
   
}
body {
  height: 100%;
  margin: 0;
 
}
 
}



